*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './secciones/header';
@import './secciones/texto';
@import './secciones/main-index';
@import './secciones/section1';
@import './secciones/footer';

