.main-index{
    width: 735px;
    display: flex;
    text-align: center;
    min-width: 50vh;
    background-image: radial-gradient(#04353bab 40%, #00d4ffc2);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
.card{
    margin: 19px;
    h2{
        font-family:sans-serif ;
        &:hover{
            background-color: black;
            color: blueviolet;
        }
    }
}
}
@media (min-width:550px){
    .main-index{
           width:770px;
        
    }
}
@media (min-width:780px){
    .main-index{
        width: 1021px;
        
    }
}
